html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: $first-font;
  color: $font-color;
}

a {
  color: $font-color;
  &:hover {
    text-decoration: none;
  }
}

.hidden {
  display: none !important;
}

.none {
  visibility: hidden !important;
}

.oneHundo{
  height: 100% !important;
}

img {
  max-width: 100%;
}

h1{
  font-size: $h1-headline-fluid;
}

h2{
  font-size: $h2-headline-fluid;
}

h3{
  font-size: $h3-headline-fluid;
}

h4{
  font-size: $h4-headline-fluid;
}

h5{
  font-size: $h5-headline-fluid;
}
