html {
  height: 100%;
  height: auto;
  background: $background-color;
}

body {
  margin: 0;
  height: 100%;
  font-family: $first-font;
  color: $font-color;
}

#app {
  height: 100%;
}

.page {
  height: 100%;
  padding-top: $nav-height;
}

a {
  color: $font-color;
  &:hover {
    text-decoration: none;
    color: $font-color-dark;
  }
}

button {
  width: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.none {
  visibility: hidden !important;
}

.oneHundo{
  height: 100% !important;
}

img {
  max-width: 100%;
}

h1{
  font-size: $h1-headline-fluid;
}

h2{
  font-size: $h2-headline-fluid;
}

h3{
  font-size: $h3-headline-fluid;
}

h4{
  font-size: $h4-headline-fluid;
}

h5{
  font-size: $h5-headline-fluid;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0rem;
}

.modalOpener {
  padding: 0rem;
  border: none;
}

p {
  margin: 0rem;
  padding-bottom: 1rem;
}

body { padding-right: 0 !important }
