header {
  position: fixed;
  width: 100%;
  background-color: $background-color;
  .headerInner {
    height: $nav-height;
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $nav-border;
    .hideNav {
      display: flex;
      @media screen and (max-width: $small) {
        display: none !important;
      }

    }
    .headerTitle {
        font-size: 2rem;
    }
    .fa-bars,
    .fa-times {
      display: none;
      @media screen and (max-width: $small) {
        display: flex;
      }
    }
    .nav-name {
      display: none;
      @media screen and (max-width: $small) {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }
    nav {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      .insert-nav-inner {
        height: 100%;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $small) {
          flex-direction: column;
        }
      }
      .insert-101 {
        display: flex;
        align-items: center;
      }
      .insert-101-a,
      .insert-101-c {
        width: 100%;
      }
      .insert-101-b {
        width: fit-content;
        white-space: nowrap;
        border-left: $nav-vertical-border;
        border-right: $nav-vertical-border;
        background-color: $fifth-color;
        display: flex;
        @media screen and (max-width: $small) {
          display: none !important;
        }
        h3 {
          margin: 0px;
          padding: 0rem .5rem;
        }
      }
      ul {
        height: 100%;
        width: 100%;
        list-style-type: none;
        padding-left: 0rem;
        margin: 0rem;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        @media screen and (max-width: $small) {
          flex-direction: column;
        }
        li {
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0rem 1.5rem;
          @media screen and (max-width: $medium) {
            padding: 0rem 1rem;
          }
          @media screen and (max-width: $small) {
            padding: 1rem 0rem;
          }
          a {
            text-decoration: none;
            font-weight: 600;
            font-size: $nav-font;
            &:hover {
              @media screen and (min-width: $small) {
                color: $font-color-dark;
              }
            }
          }
        }
      }
    }
  }
}
header.showNav {
  @media screen and (max-width: $small) {
    z-index: 1;
    .headerInner {
      height: 100vh;
      padding: 0rem;
      nav {
        background: $background-color;
        .insert-nav-inner {
          height: fit-content;
        }
        li {
          border-bottom: $nav-vertical-border;
          margin-left: 1rem;
        }
        .fa-times {
          padding: .5rem;
        };
      }
    }
  }
}
