header {
  height: 56px;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .headerTitle {
    font-size: 2rem;
  }
  nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    ul {
      height: 100%;
      display: flex;
      list-style-type: none;
      padding-left: 0rem;
      margin-bottom: 0rem;
      li {
        height: 100%;
        display: flex;
        align-items: center;
            padding: 0rem 1.5rem;
        a {
          text-decoration: none;
        }
      }
    }

  }
}
