//media breaks
$small: 767px;
$medium: 1099px;

//colors
$first-color: #e3bb9d;
$second-color: #a75e2f;
$third-color:  #926e68;
$fourth-color: #d4c88e;
$fifth-color: #f5eee9;
$font-color-dark: #4b2a15;
$font-color-light: white !global;
$background-color: #e8d9ce;

//Font
$first-font: 'Montserrat', sans-serif;
$font-color: $second-color;
$base-font-size: 0.94rem !global; //same as 15px
$line-height: 161.8% !global;
$nav-font: 18px;


//Nav
$nav-height: 94px;
$nav-border-height: 2px;
$nav-border: $nav-border-height solid $second-color;
$nav-vertical-border: 1px solid $second-color;

//Border
$border: 1px solid rgba(0,0,0,.125);

//Header sizing
$h1-headline: 2.5rem; //40px
$h2-headline: 2rem; //32px
$h3-headline: 1.75rem; //28px
$h4-headline: 1.5rem; //24px
$h5-headline: 1.25rem; //20px
$h6-headline: 1rem; //16px
