$currPage: page-landing;

.#{$currPage} {
  display: flex;
  flex-direction: row;
  .insert-101 {
    height: 100%;
    width: 100%;
  }
  .insert-101-a {
    .insert-102-a {
      margin: 13rem auto;
      max-width: 92%;
      h1 {
        font-size: 6vw;
        width: fit-content;
        margin: 0;
        padding: 0;
        color: $first-color;
        text-shadow: 8px 7px $second-color;
      }
    }
  }
  .insert-101-b {
    display: flex;
    justify-content: center;
    background: $first-color;
    .insert-103-a {
      padding-top: 16rem;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      align-items: center;
      .insert-104 {
        padding-bottom: 2.4rem;
        a {
          letter-spacing: 5px;
          white-space: nowrap;
          font-size: 1.4em;
          background-color: white;
          outline: none;
          border: $second-color solid 2px;
          box-shadow: 4px 4px $second-color;
          padding: 16px 15px;
          font-family: 'Futura', sans-serif;
          min-width: 310px;
          position: relative;
          transition: 400ms;
          font-weight: lighter;
          display: inline-block;
          text-align: center;
          align-items: flex-start;
          text-decoration: none;
          &:hover {
            background-color: $first-color;
          }
        }
      }
    }
    .insert-104-c {
      font-size: 21px;
      padding-bottom: 0rem;
      border-top: 3px solid $second-color;
      p {
        margin: 0px;
        margin-top: 3vw;
        color: $third-color;
        font-weight: bolder;
      }
    }
  }
}
