$currPage: page-work;

.#{$currPage} {
  background: #f5eee9;
  height: auto;
  .insert-100 {

    margin-top: 2rem;
  }
  .insert-100-insert-a,
  .insert-100-insert-b {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .insert-100-insert-b {
    margin-top: 2rem;
  }
  img {
    max-height: 400px;
  }
  section {
    max-width: 84%;
    margin: 0rem auto;
    padding-top: 96px;
    .insert-101 {
      margin-top: 1rem;
    }
    .insert-101-a {
      margin-top: 0rem;
    }
    .insert-101-b {
      font-weight: bold;
      margin-bottom: 4rem;
    }
    .insert-101-c {
      .insert-103-a {
        margin: 1rem 0rem;
        span {
          margin-right: .5rem;
          font-weight: bold;
        }
      }
      .insert-102 {
        margin-bottom: 6rem;
        .insert-103-b {
          display: flex;
          flex-direction: row;
        }
        .insert-104 {
          margin-right: 4rem;
        }
      }
    }
  }
}
